<div class="login-form justify-content-center d-flex">
  <form class="col-6" id="login-form">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

{{!-- Email --}}
    <div class="form-floating">
      <input type="email" class="form-control" id="email-login" placeholder="name@example.com"/>
      <label for="floatingInput">Email address</label>
    </div>

{{!-- Password --}}
    <div class="form-floating">
      <input type="password" class="form-control" id="password-login" placeholder="Password"/>
      <label for="floatingPassword">Password</label>
    </div>

{{!-- Buttons --}}
    <button id="login-btn" class="w-100 btn btn-md btn-primary" type="submit">Sign in</button>
    <button id="signup-btn" class="w-100 btn btn-md btn-secondary" type="button">Sign up</button>
  </form>

</div>

<script src="/homework/14challenge-assignment/public/js/login.js"></script>


